body{
  background-color: #010101;
}

.App{
  background-image: url('./images/codec.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #010101;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: auto;
  background-color: #050505;
  border: 1px solid mediumspringgreen;
  color: white;
}

.section form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section h2, h4{
  text-align: center;
}

.section ol{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section li{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  border: 1px solid mediumspringgreen;
  align-items: center;
}

.section li p{
  padding: 1rem;
  width: 75%
}

.section li input{
  width: 10rem;
  height: 1rem;
}

.section input{
  width: 25%;
  margin: auto;
}